<style>

.body{
	background-color: blue;
}

.kk {
	background: #ffdc4f;
	position: fixed;
	text-align: center;
	display: block;
	padding: 10px 0px;
	width: 100vw;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
margin-top: 0px;

}

body {
	font-family: Arial;
}

a:hover {
	color:white;

}

a{
	margin: 5px;
}


</style>






